# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
.Python
pip-wheel-metadata/
share/python-wheels/
*.whl

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# MyPy
.mypy_cache/
.dmypy.json

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# prompt
prompt.txt
